div {
	display:  block;
}

body {
	display: block;
	margin: 0px;
}

h2 {
	color: #3a3a3a;
	background-color: #bdbdbd;
}

h3 {
	display: inline;
	color: #646464;
	background-color: #e8e8e8;
}

.questfLogo {
	margin: 5px;
	height: 250px;
	width: 512px;
	background-image: url("img/GooglePlay_MoveBack.png");
	background-size: 100%;
}

a.footer {
	color: #8080ff;
}

.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	height: 100px;
	background-color: #222222;
	color: #ffffff;
}

.contents {
	margin: 5px;
	flex: 1;
}

.center {
	top: 50%;
}

.footer {
	height: 50px;
	background-color: #222222;
	color: #ffffff;
}